{% extends 'base.html' %}
{% block title %}{{ super() }} | Login{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
    <div class="full flex flex-y flex-x">
        <section class="form-container w-500">
            <div class="form-header"><h3>Admin Login</h3></div>

            <form class="d-grid gap-4" action="{{ url_for('auth.login') }}" method="post">
                {{ form.username(class="form-control", placeholder="Username") }}
        
                {{ form.password(class="form-control", placeholder="Password") }}
        
                <div class="d-grid gap-2">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </section>
    </div>
{% endblock %}