{% extends 'base.html' %}
{% block title %}{{ super() }} | Sign Up{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
    <div class="fullview row">
        <section class="col-4"></section>
        <section class="col-8 d-flex justify-content-center align-items-center">
            <div class="form-container w-580">
                <section class="form-header"><h4>Admin register</h4></section>
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}

                <form class="d-grid gap-4" action="{{ url_for('auth.signup') }}" method="post">
                    <div class="input-group">
                        {{ form.first_name(class="form-control", placeholder="First name") }}
                        {{ form.last_name(class="form-control", placeholder="Last name") }}
                    </div>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">@</span>
                        {{ form.username(class="form-control", placeholder="Username") }}
                    </div>
                    {{ form.email(class="form-control", placeholder="E-mail address") }}
                    {{ form.password_hash(class="form-control", placeholder="Password") }}
                    {{ form.password_verify(class="form-control", placeholder="Confirm password") }}

                    <section class="d-grid gap-2">
                        {{ form.submit(class="btn btn-primary") }}
                    </section>
                </form>

                <section class="account-container">
                    <p class="mb-0">Have an account? <a class="link-primary mb-0" href="{{ url_for('auth.login') }}">Log in</a></p>
                </section>
            </div>
        </section>
    </div>
{% endblock %}