{% extends 'base.html' %}
{% block title %}{{ super() }} | Add new employee{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
    <div class="fullview d-flex justify-content-center align-items-center">
        <section class="container d-flex justify-content-center align-items-center">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <h4 class="mb-0">{{ message }}</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            <div class="form-container w-500">
                <section class="form-header"><h3>Add employee</h3></section>
                <form method="post" class="d-grid gap-3">
                    {{ form.csrf_token }}
                    {{ form.first_name(class="form-control", placeholder="First name") }}
                    {{ form.last_name(class="form-control", placeholder="Last name") }}
                    {{ form.email(class="form-control", placeholder="E-mail address") }}
                    {{ form.username(class="form-control", placeholder="Username") }}
                    
                    {{ form.create(class="btn btn-primary") }}
                    <a class="btn btn-secondary" href="{{ url_for('admin.dashboard') }}">Cancel</a>
                </form>
            </div>
        </section>
    </div>
{% endblock %}