{% extends 'base.html' %}
{% block title %}{{ super() }} | Dashboard{% endblock %}
{% block navbar %}{{ super() }}{% endblock %}
{% block content %}
    <section class="container d-grid gap-4" style="margin-top: 180px;">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        <div class="row px-0">
            <section class="col-6">
                <input type="search" class="form-control" name="" id="" placeholder="Search employees">
            </section>
            <section class="col-6 d-flex justify-content-end">
                <a class="btn btn-primary" href="{{ url_for('admin.new_employee') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    <span>Add employee</span>
                </a>
            </section>
        </div>
        <div class="table-container">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Username</th>
                        <th scope="col">E-mail address</th>
                        <th scope="col">Created date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in employees %}
                        <tr>
                            <td scope="row">{{ employee.id }}</td>
                            <td>
                                <a class="link-info" href="{{ url_for('admin.edit_employee', username=employee.username) }}">
                                    {{ employee.first_name | capitalize }}
                                </a>
                            </td>
                            <td>{{ employee.last_name | capitalize }}</td>
                            <td>{{ employee.username }}</td>
                            <td>{{ employee.email }}</td>
                            <td>{{ employee.created_at }}</td>
                            <td><a class="btn btn-sm btn-danger" href="{{ url_for('admin.delete_employee', username=employee.username) }}">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}