<nav class="nav fixed-top">
    <div class="nav-center">
        <section class="nav-col">
            <a class="nav-brand" href="{{ url_for('main.index') }}"></a>
        </section>
        <section class="nav-col">
            <ul class="nav-list">
                <li class="nav-item"><a class="nav-link" href="">Contact</a></li>
                <li class="nav-li-item">
                    <a class="nav-link" target="_blank" href=""></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href=""></a>
                </li>
                <li class="nav-item">
                    <a class="" href="{{ url_for('auth.login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="" href="{{ url_for('auth.signup') }}">Sign Up</a>
                </li>
            </ul>
        </section>
    </div>
</nav>